{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3> Delete Store </h3>
                        <form action="" method="post">{% csrf_token %}
                            <p>Are you sure you want to delete <strong>
                               StoreID: {{ store.id }} Description: {{store.description }}
                               Address: {{ store.address }}</strong>?</p>
                            <p>If you don't want to delete this store, click on Stores in
                               the navigation bar</p>
                            <p>Otherwise click Confirm</p>
                            <input type="submit" value="Confirm" />
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
