<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Stores</title>
    <!-- Loads the path to yur static files -->
    {% load staticfiles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>
    <nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <!-- Header -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target = "#topNavBar">
             <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="{% url 'stores:index' %}">Stores</a>
      </div>
       <!-- Items -->
      <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block register_active %}{% endblock %}"><a href="{% url 'stores:register' %}">Register</a></li>
                <li class="{% block login_active %}{% endblock %}"><a href="{% url 'stores:login_user' %}">Log In</a></li>
            </ul>
      </div>
   </div>
</nav>
{%  block body %}
{% endblock %}
</body>
</html>
