<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stores</title>
    <!-- Loads the path to yur static files -->
    {% load staticfiles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <style>
     textarea { vertical-align: top; }
    </style>

</head>
<body>
    <nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <!-- Header -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target = "#topNavBar">
             <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="{% url 'stores:index' %}">Stores&nbsp;&nbsp;&nbsp;</a>
<span STYLE="color: gray" class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
        <span STYLE="color: gray; font-family: 'Arial'; font-size: 10pt; line-height:50px">
          Hi {{ user.get_username }}!
        </span>

      </div>
       <!-- Items -->
       <div class="collapse navbar-collapse" id="topNavBar">
           <ul class="nav navbar-nav">
               <li class="">
                   <a href="{% url 'stores:index'  %}">
                       <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
                       Stores
                   </a>
               </li>
               <li class="">
                <a href="{% url 'stores:products'  %}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
                    Products
                </a>
            </li>
           </ul>
           <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'stores:results' %}">
               <div class="form-group">
                   <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
               </div>
               <button type="submit" class="btn btn-default">Search Stores</button>
           </form>
           <ul class="nav navbar-nav navbar-right">
               <li class="">
                <a href="{% url 'stores:store-add' %}">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                   Add Store
                </a>
               </li>
               <li class="">
                <a href="{% url 'stores:product-add' %}">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                   Add Product
                </a>
               </li>
                <li class="">
                   <a href="{% url 'stores:contact' %}">
                       <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;
                       Contact us
                   </a>
              </li>

               <li class="">
                   <a href="{% url 'stores:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                       Logout
                   </a>
               </li>
           </ul>
       </div>
   </div>
</nav>
{%  block body %}
{% endblock %}
</body>
</html>
