{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                 <h3>Contact us</h3>
                  <form class="form-horizontal" role="form" action="" method="post">
                   {% csrf_token %}
                   {{ form.as_p }}
                    <div class = 'form-group'>
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                   </form>
                </div>
            </div>
         </div>
    </div>
   </div>

{% endblock %}

