{% extends 'base.html' %}
{% block body %}
<div class="container-fluid grades-container">

    <div class="row">

        <!-- Left Store Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/stores/{{ my_store.id }}">
                        <img src="{{ my_store.store_pic.url }}" class="img-responsive">
                    </a>
                     <h4>{{ my_store.id }} </h4>
                     <h5>{{ my_store.description }} {{ my_store.address }}</h5>
                </div>
            </div>
        </div>
        <!-- Right Products Info -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Products</h3>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in store_product %}
<tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.description }}</td>
                                <td>${{ product.price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}


