{% extends 'base.html' %}
{% block body %}
{% if all_stores %}
   <ul>
     {%for store in all_stores %}
         <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href= "/stores/{{ store.id}}">
                         <img src="{{ store.store_pic.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h4>StoreID: {{ store.id }} </h4>
                            <ul>
                                <li><h5>Description: {{ store.description }}</h5></li>
                                <li><h5>Address: {{ store.address }}</h5></li>
                            </ul>

                            <!-- View Details -->
                            <a href="/stores/{{store.id}}" class="btn btn-primary btn-sm" role="button">View Products</a>

                            <!-- Delete Store -->
                            <form action="{% url 'stores:store-delete' store.id %}" method="get" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="store_id" value="{{ student.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                            <!-- Update Store -->
                            <form action="{% url 'stores:store-update' store.id %}" method="get" style="display: inline;">
                                {% csrf_token %}
                              <input type="hidden" name="store_id" value="{{ store.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </form>


                        </div>
                    </div>
</div>
     {% endfor %}
   </ul>
{% else %}
   <h3> You don't have any stores</h3>
{% endif %}
{% endblock %}
