{% extends 'base.html' %}
{% block body %}
{% if all_products %}
   <ul>
     {%for product in all_products %}
         <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>ProductID: {{ product.id }} </h4>
                            <h5>Description: {{ product.description }} Price: ${{ product.price }}</h5>

                            <!-- Delete Product -->
                            <form action="{% url 'stores:product-delete' product.id %}" method="get" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="store_id" value="{{ product.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <form action="{% url 'stores:product-update' product.id %}" method="get" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="store_id" value="{{ product.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </form>
                        </div>
                    </div>
</div>
     {% endfor %}
   </ul>
{% else %}
   <h3> You don't have any products</h3>
{% endif %}
{% endblock %}
